.idea
sources.json
ordo.egg-info
__pycache__/
*.pyc
.DS_Store
.vscode/
env/
venv/
env.bak/
venv.bak/
*.log
coverage/
htmlcov/
.tox/
.nox/
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover   
demo/
.venv/